<html lang="en">
<head>
    <title>reCAPTCHA demo: Simple page</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <script async defer src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
            console.log(token);
            return false;
        }
    </script>
</head>
<body>
<h1>reCAPTCHA v2 (Invisible reCAPTCHA badge)</h1>
<div class="alert alert-secondary" role="alert">
    The invisible reCAPTCHA badge does not require the user to click on a checkbox, instead, it is invoked directly when
    the
    user clicks on an existing button on your site or can be invoked via a JavaScript API call. The integration requires
    a
    JavaScript callback when reCAPTCHA verification is complete. By default, only the most suspicious traffic will be
    prompted to solve a captcha. To alter this behavior edit your site security preference under advanced settings.
</div>
<form action="/case1" id='demo-form' method="POST">
    <button class="g-recaptcha btn btn-primary" data-callback='onSubmit'
            data-sitekey="6Lep2aUZAAAAAPNMIk_oFNtHDmJGdNRPUTkGk9k3">
        Submit
    </button>
    <br/>
</form>
</body>
</html>
