<html lang="en">
<head>
    <title>reCAPTCHA. Possible solutions.</title></head>
<link href="static/style.css" rel="stylesheet" type="text/css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<body>
<img alt="Cloud Blue" src="/static/panel-logo.png"/>
<h1>reCAPTCHA. Possible solutions.</h1>
<ul>
    <li><a href="/case1">reCAPTCHA v2 (Invisible reCAPTCHA badge)</a></li>
    <li><a href="/case2">reCAPTCHA v2 ("I'm not a robot" Checkbox)</a></li>
    <li><a href="/case3">reCAPTCHA v3</a></li>
</ul>
</body>
</html>