<html lang="en">
<head>
    <title>reCAPTCHA. Possible solutions.</title></head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
<body>
<img src="/static/panel-logo.png"/>
<h1>reCAPTCHA. Possible solutions.</h1>
<ul>
    <li><a href="/case1">Invisible reCAPTCHA v2</a></li>
    <li><a href="/case1">Invisible reCAPTCHA v2 2</a></li>
    <li><a href="/case11">Checkbox reCAPTCHA v2</a></li>
    <li><a href="/case2">reCAPTCHA v3</a></li>
    <li><a href="/case3">Invisible reCAPTCHA</a></li>
</ul>
</body>
</html>